:root {
  font: message-box;
  appearance: none;
  background-color: #1c1b22;
  color: rgb(251, 251, 254);
  font-size: 15px;
  color-scheme: light dark;
}

.DetectedBody {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 40px 48px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  min-width: 13em;
  max-width: 52em;
}

@media (max-width: 970px);
.title {
  background-image: url("icons/warning.svg");
  fill: #fcd100;

  background-position: left 0;
  background-repeat: no-repeat;
  background-size: 1.6em;
  margin-inline-start: -2.3em;
  padding-inline-start: 2.3em;
  font-size: 2.2em;
}

.title-text {
  font-weight: lighter;
  padding-top: 0;
  font-size: inherit;
  padding-bottom: 0.4em;
  font-weight: lighter;
  line-height: 1.2;
  color: rgb(251, 251, 254);
  margin: 0;
  margin-bottom: .5em;
}

.button-container {
  margin-top: 1.2em;
}

button.primary {
  background-color: #2196F3;
  color: rgb(255, 255, 255);
  border-color: transparent;
}

button {
  padding: 0 1.5em;
  font-weight: 600;
  appearance: none;
  min-height: 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  margin: 4px 8px;
  font-size: 1em;
  min-width: 79px;
  margin-inline: 4px;
}

.switch {
  margin: 10px;
  margin-right: 0px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; 
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  background-color: #1c1b22;
}

.OptionsContainer {
  position: absolute;
  
}

.Option {
  vertical-align: middle;
  background-color: #34333f;
  padding-top: 0px;
  padding-right: 10px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.OptionText {
  vertical-align: -5px;
  display: inline;
  font-size: 18px;
  padding-left: 10px;
  color: rgb(251, 251, 254);
}

.OptionsButton {
  background-color: #2196F3;
  margin-right: 0px;
  padding-left: 1px;
  padding-right: 1px;
  min-width: 70px;
}

.OptionsBody {
  min-width: 500px; /* your desired width */
  max-width: 100%;
}

.InputLink {
  margin-left: 10px;
  background-color: gray;
  border: 0px;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 10px;
}


